.main {
   background-color: white;
}

@media (max-width:1200px) {
   .main {
      width: 1200px;
   }
}

.menu {
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 15px;
   font-weight: bold;
   color: gray;
   font-size: 22px;
   margin-left: auto;
   margin-right: auto;
   border-bottom: 2px solid black;
}

.menu:hover {
   color: black;
}